.pokemon-selection {
  width: 500px;
  background-color: black;
}
.pokeman-card-main {
  width: 500px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 5px;
}
.title-div {
  all: unset;
  background-color: rgb(184, 171, 243);
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px;
}
.sub-details-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-div {
  border-radius: 5px;
  border: rgb(184, 171, 243) solid 1px;
  height: 200px;
  width: 200px;
}
p {
  border-radius: 5px;
  background-color: rgb(184, 171, 243);
  /* border: black solid 1px; */
  margin: 5px;
  padding: 8px;
}
